services:
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:0.1.2
    container_name: docker-socket-proxy
    restart: always
    networks:
      - docker-socket-proxy
    ports:
      - 2375
    environment:
      CONTAINERS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  ddns:
    image: qmcgaw/ddns-updater:2.6.0
    container_name: ddns
    ports:
      - 8000:8000
    volumes:
      - ./ddns:/updater/data
    restart: always

  traefik:
    image: traefik:3.1.2
    container_name: traefik
    restart: always
    labels:
      # Whilist Cloudflare and local loopback IPs
      # https://www.cloudflare.com/ips
      # https://www.cloudflare.com/ips-v4
      # https://www.cloudflare.com/ips-v6
      - "traefik.http.middlewares.test-ipallowlist.ipallowlist.sourcerange=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2405:8100::/32,2a06:98c0::/29,2c0f:f248::/32,127.0.0.1/8,::1/128,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,fc00::/7"
    networks:
      - default
      - docker-socket-proxy
    depends_on:
      - docker-socket-proxy
    command:
    # - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=tcp://docker-socket-proxy:2375"
      - "--providers.docker.network=docker-socket-proxy"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      # - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.letsencrypt.acme.email=letsencrypt@100terres.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
    ports:
      - 80:80 # http
      - 443:443 # https
      - 8080:8080 # traefik dashboard
    volumes:
      - ./letsencrypt:/letsencrypt

networks:
  default:
    name: intranet
  docker-socket-proxy:
    name: docker-socket-proxy

secrets:
  pgadmin-password:
    file: ./pgadmin/secrets/pgadmin-password.txt
  postgres-password:
    file: ./postgres/secrets/postgres-password.txt
