services:
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:0.3.0
    container_name: docker-socket-proxy
    restart: always
    networks:
      - docker-socket-proxy
    ports:
      - 2375
    environment:
      CONTAINERS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  ddns:
    image: qmcgaw/ddns-updater:v2.9.0
    container_name: ddns
    restart: always
    ports:
      - 8000:8000
    environment:
      BACKUP_PERIOD: 24h
    volumes:
      - ./ddns:/updater/data

  traefik:
    image: traefik:v3.1.5
    container_name: traefik
    restart: always
    labels:
      - "traefik.enable=true"
      # Whilist Cloudflare and local loopback IPs
      # https://www.cloudflare.com/ips
      # https://www.cloudflare.com/ips-v4
      # https://www.cloudflare.com/ips-v6
      - "traefik.http.middlewares.test-ipallowlist.ipallowlist.sourcerange=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2405:8100::/32,2a06:98c0::/29,2c0f:f248::/32,127.0.0.1/8,::1/128,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,fc00::/7"
    healthcheck:
      # Run traefik healthcheck command
      # https://doc.traefik.io/traefik/operations/cli/#healthcheck
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - default
      - docker-socket-proxy
    depends_on:
      - docker-socket-proxy
    command:
      - "--api=true"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--ping=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=tcp://docker-socket-proxy:2375"
      - "--providers.docker.network=docker-socket-proxy"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--entryPoints.websecure.http3"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.letsencrypt.acme.email=letsencrypt@100terres.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - ./letsencrypt:/letsencrypt

networks:
  default:
    name: intranet
  docker-socket-proxy:
    name: docker-socket-proxy

secrets:
  pgadmin-password:
    file: ./pgadmin/secrets/pgadmin-password.txt
  postgres-password:
    file: ./postgres/secrets/postgres-password.txt
