# core
services/core/ddns/*
!services/core/ddns/config.sample.json

services/core/letsencrypt/*
!services/core/letsencrypt/.keep

services/core/redis/*
!services/core/redis/.keep

services/core/redis-backup/*
!services/core/redis-backup/.keep

services/core/pgadmin/*
!services/core/pgadmin/.keep

services/core/postgres/*
!services/core/postgres/.keep

services/core/postgres-backup/*
!services/core/postgres-backup/.keep

# mastodon
services/professional-mastodon-instance/data/*
services/personal-mastodon-instance/data/*

# mobilizon
services/mobilizon/postgres/*
!services/mobilizon/postgres/.keep
!services/mobilizon/postgres/secrets/postgres-password.txt.sample
services/mobilizon/server/*
!services/mobilizon/server/.keep

# env
.env
.env.*
!.env.sample
!.env.*.sample