# ddns service
ddns/*
!ddns/config.sample.json

# let's encrypt service
letsencrypt/*
!letsencrypt/.keep

# postgres
mastodon/data/*
.env.production

# redis
redis/*
!redis/.keep

# postgres
postgres/*
!postgres/secrets/postgres-password.sample.txt
