# ----
# core
# ----

services/core/ddns/*
!services/core/ddns/config.sample.json

services/core/letsencrypt/*
!services/core/letsencrypt/.keep

services/core/redis/*
!services/core/redis/.keep

services/core/redis-backup/*
!services/core/redis-backup/.keep

services/core/pgadmin/*
!services/core/pgadmin/.keep

services/core/postgres/*
!services/core/postgres/.keep

services/core/postgres-backup/*
!services/core/postgres-backup/.keep

# -------
# forgejo
# -------

services/forgejo/data/*
!services/forgejo/data/.keep

# ----------
# ghostfolio
# ----------

services/ghostfolio/data/*

services/ghostfolio/postgres/*
!services/ghostfolio/postgres/.keep

services/ghostfolio/redis/*
!services/ghostfolio/redis/.keep

# --------------------------
# personal mastodon instance
# --------------------------

services/personal-mastodon-instance/data/*

services/personal-mastodon-instance/postgres/*
!services/personal-mastodon-instance/postgres/.keep

services/personal-mastodon-instance/postgres-backup/*
!services/personal-mastodon-instance/postgres-backup/.keep

services/personal-mastodon-instance/redis/*
!services/personal-mastodon-instance/redis/.keep

services/personal-mastodon-instance/redis-backup/*
!services/personal-mastodon-instance/redis-backup/.keep

# ------------------------------
# professional mastodon instance
# ------------------------------

services/professional-mastodon-instance/data/*

services/professional-mastodon-instance/postgres/*
!services/professional-mastodon-instance/postgres/.keep

services/professional-mastodon-instance/postgres-backup/*
!services/professional-mastodon-instance/postgres-backup/.keep

services/professional-mastodon-instance/redis/*
!services/professional-mastodon-instance/redis/.keep

services/professional-mastodon-instance/redis-backup/*
!services/professional-mastodon-instance/redis-backup/.keep

# --------------
# forgejo-runner
# --------------

services/forgejo-runner/data

# ---
# env
# ---

.env
.env.*
!.env.sample
!.env.*.sample
*.kdbx
