services:
  personal-mastodon-instance-web:
    image: ghcr.io/mastodon/mastodon:v4.5.6
    container_name: personal-mastodon-instance-web
    restart: always
    env_file: .env
    command: bundle exec puma -C config/puma.rb
    depends_on:
      - personal-mastodon-instance-postgres
      - personal-mastodon-instance-redis
    healthcheck:
      test: ['CMD-SHELL',"curl -s --noproxy localhost localhost:3000/health | grep -q 'OK' || exit 1"]
    expose:
      - "3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.personal-mastodon-instance-web.loadbalancer.server.port=3000"
      - "traefik.http.routers.personal-mastodon-instance-web.rule=Host(`${LOCAL_DOMAIN}`)"
      - "traefik.http.routers.personal-mastodon-instance-web.entrypoints=websecure"
      - "traefik.http.routers.personal-mastodon-instance-web.tls.certresolver=letsencrypt"
      - "traefik.http.routers.personal-mastodon-instance-web.middlewares=basic-security"
    volumes:
      - ./data/public/system:/mastodon/public/system

  personal-mastodon-instance-streaming:
    image: ghcr.io/mastodon/mastodon-streaming:v4.5.6
    container_name: personal-mastodon-instance-streaming
    restart: always
    env_file: .env
    command: node ./streaming/index.js
    depends_on:
      - personal-mastodon-instance-postgres
      - personal-mastodon-instance-redis
    healthcheck:
      test: ['CMD-SHELL', "curl -s --noproxy localhost localhost:4000/api/v1/streaming/health | grep -q 'OK' || exit 1"]
    expose:
      - "4000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.personal-mastodon-instance-streaming.loadbalancer.server.port=4000"
      - "traefik.http.routers.personal-mastodon-instance-streaming.rule=(Host(`${LOCAL_DOMAIN}`) && PathPrefix(`/api/v1/streaming`))"
      - "traefik.http.routers.personal-mastodon-instance-streaming.entrypoints=websecure"
      - "traefik.http.routers.personal-mastodon-instance-streaming.tls.certresolver=letsencrypt"
      - "traefik.http.routers.personal-mastodon-instance-streaming.middlewares=basic-security"

  personal-mastodon-instance-sidekiq:
    image: ghcr.io/mastodon/mastodon:v4.5.6
    container_name: personal-mastodon-instance-sidekiq
    restart: always
    env_file: .env
    command: bundle exec sidekiq
    depends_on:
      - personal-mastodon-instance-postgres
      - personal-mastodon-instance-redis
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep '[s]idekiq\ 8' || false"]
    volumes:
      - ./data/public/system:/mastodon/public/system

  personal-mastodon-instance-postgres:
    # How to upgrade to a major version
    # https://github.com/tianon/docker-postgres-upgrade
    image: postgres:15.16-alpine
    container_name: personal-mastodon-instance-postgres
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
    volumes:
      - ./postgres/15/data:/var/lib/postgresql/data
    secrets:
      - postgres-password
    environment:
      - TZ=UTC
      - PGTZ=UTC
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password

  personal-mastodon-instance-postgres-backup:
    image: tiredofit/db-backup:3.9.11
    container_name: personal-mastodon-instance-postgres-backup
    restart: always
    volumes:
      - ./postgres-backup/data:/backup
    secrets:
      - postgres-password
    environment:
      - CONTAINER_ENABLE_MONITORING=FALSE
      - DB_TYPE=pgsql
      - DB_HOST=personal-mastodon-instance-postgres
      - DB_NAME=ALL
      - DB_USER=postgres
      - DB_PASS_FILE=/run/secrets/postgres-password
      - DB_DUMP_FREQ=180 # backup every 3 hours
      - DB_CLEANUP_TIME=10080 # keep backups for a week
      - CREATE_LATEST_SYMLINK=FALSE
      - CHECKSUM=SHA1
      - COMPRESSION=GZ
      - GZ_RSYNCABLE=TRUE

  personal-mastodon-instance-redis:
    image: redis:7.2.0-alpine
    container_name: personal-mastodon-instance-redis
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
    volumes:
      - ./redis/data:/data

  personal-mastodon-instance-redis-backup:
    image: tiredofit/db-backup:3.9.11
    container_name: personal-mastodon-instance-redis-backup
    restart: always
    volumes:
      - ./redis-backup/data:/backup
    environment:
      - CONTAINER_ENABLE_MONITORING=FALSE
      - DB_TYPE=redis
      - DB_HOST=personal-mastodon-instance-redis
      - DB_DUMP_FREQ=60 # backup every hour
      - DB_CLEANUP_TIME=10080 # keep backups for a week
      - CREATE_LATEST_SYMLINK=FALSE
      - CHECKSUM=SHA1
      - COMPRESSION=GZ
      - GZ_RSYNCABLE=TRUE

networks:
  default:
    name: intranet
    external: true

secrets:
  postgres-password:
    file: ./postgres/secrets/postgres-password.txt
