services:
  ghostfolio-web:
    image: ghostfolio/ghostfolio:2.152.0
    container_name: ghostfolio-web
    init: true
    restart: always
    env_file: .env
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    depends_on:
      ghostfolio-postgres:
        condition: service_healthy
      ghostfolio-redis:
        condition: service_healthy
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:3333/api/v1/health']
      interval: 10s
      timeout: 5s
      retries: 5
    expose:
      - "3333"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.professional-mastodon-instance-web.loadbalancer.server.port=3333"
      - "traefik.http.routers.professional-mastodon-instance-web.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.professional-mastodon-instance-web.entrypoints=websecure"
      - "traefik.http.routers.professional-mastodon-instance-web.tls.certresolver=letsencrypt"

  ghostfolio-postgres:
    # How to upgrade to a major version
    # https://github.com/tianon/docker-postgres-upgrade
    image: postgres:17.4-alpine
    container_name: ghostfolio-postgres
    restart: always
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_READ_SEARCH
      - FOWNER
      - SETGID
      - SETUID
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
    volumes:
      - ./postgres/17/data:/var/lib/postgresql/data
    secrets:
      - postgres-password
    environment:
      - TZ=UTC
      - PGTZ=UTC
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password

  ghostfolio-redis:
    image: redis:7.4.2-alpine
    container_name: ghostfolio-redis
    restart: always
    user: '999:1000'
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
    volumes:
      - ./redis/data:/data

networks:
  default:
    name: intranet
    external: true

secrets:
  postgres-password:
    file: ./postgres/secrets/postgres-password.txt
